<!-- Wappler include head-page="layouts/interface-principal" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="home" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<div class="container">
</div>
<meta name="ac:route" content="/skillsync/home">

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="text-start">Crie o</h4>
            <h2 class="text-start mt-n5 fw-bold">Currículo Perfeito</h2>
            <p class="text-start lead">Crie um currículo de destaque com o SkillSync. Obtenha feedback em tempo real, exporte com um clique e personalize currículos para empregos individuais.</p>

        </div>
        <div class="col">
            <img src="/assets/images/exemplo-curriculo.png">

        </div>
    </div>
</div>